<section class="custom-collection">
  <div class="page-width">
    {% if section.settings.title != blank %}
      <h2 class="custom-collection__title" style="color: {{ section.settings.color_title_label }};">
        {{ section.settings.title }}
      </h2>
    {% endif %}
    {% if section.settings.sub_title != blank %}
      <h3 class="custom-collection__sub-title" style="color: {{ section.settings.color_sub_title_label }};">
        {{ section.settings.sub_title }}
      </h3>
    {% endif %}
    <div class="custom-collection__product-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            <div class="card-product">
              {% if block.settings.image != blank %}
                {{ block.settings.image | image_url: width: 234 | image_tag: class: 'image', alt: img }}
              {% endif %}
              {% if block.settings.heading != blank %}
                <h4 class="card-product_heading" style="color: {{ block.settings.color_heading_label }};">
                  {{ block.settings.heading }}
                </h4>
              {% endif %}
              {% if block.settings.content != blank %}
                <div class="card-product_content" style="color: {{ block.settings.color_content_label }};">
                  {{ block.settings.content }}
                </div>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    {% if section.settings.content != blank %}
      <h3 class="custom-collection__content" style="color: {{ section.settings.color_content_label }};">
        {{ section.settings.content }}
      </h3>
    {% endif %}
  </div>
</section>
{%- style -%}
  #shopify-section-{{ section.id }}{
    .custom-collection__content{
      stong{
        color: {{ section.settings.color_stong_content_label }};
      }
    }
  }
{%- endstyle -%}
{% schema %}
{
  "name": "Custom Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "color_title_label",
      "label": "Color Title",
      "default": "#ed268d"
    },
    {
      "type": "richtext",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "color",
      "id": "color_sub_title_label",
      "label": "Color Sub Title",
      "default": "#ed268d"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "color",
      "id": "color_content_label",
      "label": "Color Content",
      "default": "#2E2A2C"
    },
    {
      "type": "color",
      "id": "color_stong_content_label",
      "label": "Color Content",
      "default": "#ED268D"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 5,
      "settings": [
        {
          "type": "color",
          "id": "color_border_image_product",
          "label": "Color Border Image Product",
          "default": "#ED268D"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "background image"
        },
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading_label",
          "label": "Color Heading Label",
          "default": "#2E2A2C"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "color_content_label",
          "label": "Color Content Label",
          "default": "#2E2A2C"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Collection"
    }
  ]
}
{% endschema %}
