<section class="advantages">
  {%- if section.settings.img != blank -%}
    <div class="image-wrapper-left">
      <img
        class="image-wrapper_img"
        src="{{ section.settings.img | img_url:  'original'}}"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="53" height="70" viewBox="0 0 53 70" fill="none">
        <g opacity="0.5">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.13079 52.2923C2.56169 54.9431 2.96464 57.5691 3.47273 60.2061C3.57997 60.7738 4.12479 61.144 4.68956 61.0366C5.25837 60.9303 5.62983 60.3831 5.52151 59.8194C5.01826 57.1967 4.618 54.593 4.19085 51.9605C4.09679 51.392 3.56026 51.0067 2.99577 51.0969C2.42616 51.19 2.03673 51.7238 2.13079 52.2923Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3826 38.2883C25.9192 43.722 32.7265 48.823 39.3747 54.1142C39.8276 54.4727 40.483 54.3982 40.8407 53.9507C41.1994 53.4993 41.1279 52.8464 40.6761 52.4839C34.0378 47.204 27.2405 42.1143 20.7189 36.689C20.2733 36.3195 19.6171 36.3807 19.2485 36.8209C18.8787 37.2651 18.941 37.9198 19.3826 38.2883Z" fill="white"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M29.2168 9.33109C36.3672 10.0699 43.5493 10.6103 50.6914 11.4288C51.2625 11.4913 51.7785 11.082 51.8444 10.5133C51.9114 9.94056 51.4966 9.42415 50.9265 9.35764C43.7753 8.54097 36.5851 7.99845 29.4255 7.26146C28.8533 7.20299 28.3402 7.61736 28.2823 8.18825C28.2234 8.76317 28.6405 9.27154 29.2168 9.33109Z" fill="white"/>
        </g>
      </svg>
    </div>
  {% endif %}
  {%- if section.settings.img1 != blank -%}
    <div class="image-wrapper-right">
      <svg xmlns="http://www.w3.org/2000/svg" width="116" height="117" viewBox="0 0 116 117" fill="none">
        <g opacity="0.5">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M66.0265 35.0453C66.0052 35.0088 65.9853 34.971 65.9667 34.9345C65.7277 34.4317 65.4557 33.6731 65.0935 32.8057C64.2051 30.6725 62.7836 27.93 60.1062 26.5089C58.3075 25.5539 55.9396 25.1805 52.769 26.0072C51.2994 26.3927 50.231 27.3996 49.483 28.6937C48.4173 30.5322 48.0061 32.9509 47.9365 34.8048C47.9094 35.5484 48.1246 37.0138 48.1869 38.0268C34.0861 21.7776 5.21117 31.3026 6.4547 54.0751C6.46918 54.3457 6.70131 54.5518 6.97046 54.5384C7.23968 54.5223 7.44743 54.2914 7.43296 54.0209C6.22866 31.9422 34.5688 22.8874 47.9042 39.2122C48.1481 39.5101 48.3836 39.575 48.5277 39.5755C48.7383 39.5747 48.9304 39.4834 49.058 39.2396C49.1523 39.0574 49.2025 38.6303 49.171 38.078C49.1166 37.0874 48.8882 35.5912 48.9155 34.8393C48.979 33.1266 49.3445 30.8843 50.3293 29.1853C50.9459 28.1197 51.8082 27.2716 53.0157 26.9551C55.8796 26.2074 58.0218 26.5119 59.648 27.3744C62.1064 28.6797 63.3732 31.2261 64.1909 33.1832C64.6252 34.2281 64.9384 35.1179 65.2164 35.6161C65.4026 35.9501 65.6073 36.1445 65.7856 36.2234C65.8775 36.2628 66.0827 36.3188 66.3166 36.155C66.5434 35.9951 67.3363 35.0346 67.4852 34.8897C71.5713 30.9407 77.0724 31.3166 81.5421 34.4408C89.032 39.677 89.586 46.5143 86.103 50.7541C83.0577 54.4618 77.0171 56.1205 70.0076 53.0445C69.7969 52.9261 69.5849 52.8063 69.3743 52.6852C68.6618 52.277 66.7873 51.2509 66.5114 51.138C66.1271 50.9797 65.9096 51.2714 65.8795 51.3164C65.809 51.4271 65.7298 51.611 65.8768 51.8443C65.8902 51.8668 65.975 51.9727 66.1962 52.1135C67.3406 52.8376 68.4699 53.4381 69.5754 53.9258C70.6806 54.5493 71.7888 55.1618 72.865 55.8373C77.2791 58.6111 81.6044 61.6863 84.8024 65.8601C88.4523 70.6205 91.4477 78.3082 91.2746 84.8895C91.1897 88.1122 90.3446 91.0671 88.402 93.2531C86.4621 95.4392 83.432 96.8385 79.0214 96.9999C78.751 97.009 78.5406 97.2371 78.5495 97.5075C78.5584 97.7779 78.7863 97.9881 79.0567 97.979C83.8016 97.8044 87.0459 96.2546 89.1338 93.9028C91.223 91.5524 92.1618 88.3807 92.2524 84.9142C92.4319 78.1183 89.3481 70.1792 85.5799 65.2637C82.4196 61.1406 78.1956 58.058 73.8449 55.2967C79.5099 56.4288 84.2302 54.5768 86.859 51.3752C90.6358 46.7791 90.2225 39.3144 82.1027 33.6372C77.239 30.2367 71.2536 29.8873 66.8046 34.1856C66.7181 34.271 66.3069 34.7288 66.0265 35.0453Z" fill="white"/>
        </g>
      </svg>
      <img
        class="image-wrapper_img"
        src="{{ section.settings.img1 | img_url:  'original'}}"
      >
    </div>
  {% endif %}
  <div class="page-width">
      {% if section.settings.title != blank %}
        <h2
          class="title"
        >
          {{ section.settings.title }}
        </h2>
      {% endif %}
    <div class="items-inner">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'item' %}
            <div class="advantages__item">
              {% if block.settings.img != blank %}
                <img
                  class="item_img"
                  src="{{ block.settings.img | img_url:  'original'}}"
                >
              {% endif %}
              {% if block.settings.heading != blank %}
                <h5
                  class="item_heading"
                  style=" color: {{ block.settings.color_heading_label }};"
                >
                  {{ block.settings.heading }}
                </h5>
              {% endif %}
              {% if block.settings.description != blank %}
                <div
                  class="item_description"
                  style=" color: {{ block.settings.color_description_label }};"
                >
                  {{ block.settings.description }}
                </div>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>
{%- style -%}
  #shopify-section-{{ section.id }} {
    .title{
      color: {{ section.settings.color_title1_label }};
      strong{
        color: {{ section.settings.color_title_label }};
      }
      
    }
  }
{%- endstyle -%}
{% schema %}
{
  "name": "Advantages",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "color_title_label",
      "label": "Color Title Label",
      "default": "#ED268D"
    },
    {
      "type": "color",
      "id": "color_title1_label",
      "label": "Color Title Label",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "font_size",
      "label": "Font Size Enter Number"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "img1",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading_label",
          "label": "Color Heading Label",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "font_size",
          "label": "Font Size Enter Number"
        },
        {
          "type": "inline_richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color_description_label",
          "label": "Color Description Label",
          "default": "#fff"
        },
        {
          "type": "text",
          "id": "font_size1",
          "label": "Font Size Enter Number"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Advantages"
    }
  ]
}
{% endschema %}
